h1 {
  color: rgb(93, 214, 23);
}

/* img{
    background-color: aqua;
} */

/*name associated with class name*/
.bacon {
  background-color: aquamarine;
}

.broco {
  background-color: blueviolet;
}
